<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://at.alicdn.com/t/font_1468045361_5525043.css" rel="stylesheet"/>
    <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.5.7/angular.min.js"></script>
    <style>
        body,
        body * {
            font-family: "microsoft yahei";
        }
    </style>
    <script>
        var buy2App = angular.module('buy2App', []);
        buy2App.controller('buy2Ctl', ['$scope', '$http', '$location', function ($scope, $http, $location) {
            $scope.showMsg = function (msg) {
                $('#msgBody').html(msg);
                $('#msgP').modal('show');
            };
            $scope.getLogin = function () {
                $http.post('../isLogin').success(function (data) {
                    if (data.success) {
                        $scope.login = data.login;
                        $scope.mobile = $location.search().mobile;
                        $scope.uname = $location.search().uname;
                        $scope.getMenus();
                    } else {
                        location.href = 'login.html';
                    }
                }).error(function () {
                    location.href = 'login.html';
                });
            };
            $scope.getMenus = function () {
                $http.get('data/menu.json').success(function (data) {
                    if (data.success) {
                        $scope.menus = data.rows;
                    } else {
                        $scope.showMsg(data.msg);
                    }
                }).error(function () {
                    $scope.showMsg('访问不了服务器');
                });
            };
            $scope.minus = function (menu) {
                if (menu.num >= 1) {
                    menu.num--;
                }
            };
            $scope.plus = function (menu) {
                if (menu.num < 99) {
                    menu.num++;
                }
            };
            $scope.buyItem = function () {
                var data = {
                    mobile: $scope.mobile,
                    uname: $scope.uname,
                    admin: $scope.login.mobile,
                    menus: $scope.menus
                }
                $('#loadP').modal('show');
                $http.post('../buyItem', data).success(function (data) {
                    $('#loadP').modal('hide');
                    if (data.success) {
                        $scope.goUserlist2($scope.mobile);
                    } else {
                        $scope.showMsg(data.msg);
                    }
                }).error(function () {
                    $('#loadP').modal('hide');
                    $scope.showMsg('访问不了服务器');
                });
            };
            $scope.goHome = function () {
                location.href = 'index.html';
            };
            $scope.goBuy = function () {
                location.href = 'buy.html';
            };
            $scope.goUserlist2 = function (mobile) {
                location.href = 'userlist2.html#/?mobile=' + mobile;
            };
            $scope.getLogin();
        }]);
    </script>
</head>

<body ng-app="buy2App" ng-controller="buy2Ctl" ng-show="login.isLogin" style="background-color: #E5E5E5;">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div type="button" class="navbar-toggle" style="border-color: #666666; text-align: center;">
                <span class="glyphicon glyphicon-remove" style="color: white; width: 26px;"></span>
            </div>
            <a class="navbar-brand" href="javascript:void(0);">
                <div style="font-size: 21px; color: white;">什么鬼VIP系统<span
                        style="font-size: 14px;">&nbsp;&nbsp;by Limit</span></div>
            </a>
        </div>
    </div>
</nav>
<div class="container" style="max-width: 600px; margin-top: 60px;">
    <ol class="breadcrumb" style="margin-top: 15px;">
        <li>
            <a href="javascript:void(0);" ng-click="goHome()">首页</a>
        </li>
        <li>
            <a href="javascript:void(0);" ng-click="goBuy()">会员点单</a>
        </li>
        <li class="active">选择产品</li>
    </ol>
    <div class="row" style="margin-top: 15px; padding-left: 15px; padding-right: 15px;">
        <div class="list-group">
            <a href="javascript:void(0);" class="list-group-item" style="cursor: pointer;">
                <div class="row">
                    <div class="col-xs-7" style="text-align: left;" ng-bind="uname"></div>
                    <div class="col-xs-5" style="text-align: right;" ng-bind="mobile"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="list-group">
        <a href="javascript:void(0);" class="list-group-item" ng-repeat="menu in menus"
           style="cursor: pointer;">
            <div class="row">
                <div class="col-xs-5" style="text-align: left; line-height: 34px;" ng-bind="menu.mname"></div>
                <div class="col-xs-7" style="text-align: right;">
                    <div class="btn-group" role="group">
                        <div type="button" class="btn btn-default" ng-click="minus(menu)"><span
                                class="glyphicon glyphicon-minus"></span></div>
                        <div type="button" class="btn btn-default" style="width: 45px;" ng-bind="menu.num"></div>
                        <div type="button" class="btn btn-default" ng-click="plus(menu)"><span
                                class="glyphicon glyphicon-plus"></span></div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="row" style="margin-top: 15px; margin-bottom: 15px; padding-left: 15px; padding-right: 15px;">
        <div class="btn btn-success btn-block" ng-click="buyItem()">确定点单</div>
    </div>
</div>
<div class="modal fade" data-backdrop="static" id="loadP">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>数据交互中，请等待</div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="msgP">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="msgBody"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>